<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar heroe</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <strong>!Vas a eliminar un heroe!</strong>
    <p>¿Estas seguro?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteHero()"
      (click)="d('Cross click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<button class="btn btn-danger" (click)="open(content)">Eliminar</button>
