@if (heros) {
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- @for (hero of heros; track hero.id) {
      <app-hero-card [hero]="hero" | paginate : { itemsPerPage: 10, currentPage: page}></app-hero-card>
      } -->

      <app-hero-card
        *ngFor="
          let hero of heros | paginate : { itemsPerPage: 3, currentPage: page }
        "
        [hero]="hero"
      ></app-hero-card>
    </div>
  </div>
</div>
<pagination-controls
  previousLabel="Anterior"
  nextLabel="Siguiente"
  (pageChange)="page = $event"
></pagination-controls>
}
