<main class="container py-3">
  <div class="d-flex gap-2 py-1 justify-content-center">
    <div class="mr-5">
      <button
        (click)="newHero()"
        type="button"
        class="btn btn-primary d-inline-flex align-items-center"
      >
        New Hero
      </button>
    </div>
    <div class="justify-content-center">
      <input
        (change)="heroNameEvent($event)"
        class="form-control mb-3"
        name="heroname"
        type="text"
      />
      <button
        (click)="findHero()"
        type="button"
        class="btn btn-primary d-inline-flex align-items-center"
      >
        Buscar
      </button>
      <button
        (click)="limpiar()"
        type="button"
        class="btn btn-secondary d-inline-flex align-items-center ml-3"
      >
        Reset
      </button>
    </div>
  </div>

  <app-hero-list [heros]="herosDisplayed"></app-hero-list>
</main>
