@if (hero) {
<div (click)="heroDetails()" class="col click">
  <div class="card shadow-sm">
    <img class="" src="{{ url }}" alt="hero" />
    <div class="card-body">
      <h3>{{ hero.name }}</h3>
      <p class="card-text">
        {{ hero.description }}
      </p>
      <div class="d-flex gap-2 py-1">
        <button
          class="btn btn-primary d-inline-flex align-items-center"
          type="button"
        >
          Editar
        </button>
        <button
          class="btn btn-danger d-inline-flex align-items-center"
          type="button"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

}
