@if (hero) {
<div class="col">
  <div class="card shadow-sm">
    @if (hero.image) {
    <img
      (click)="heroDetails()"
      class="click"
      src="{{ hero.image.url }}"
      alt="hero"
    />
    }

    <div class="card-body">
      <h3>{{ hero.name }}</h3>
      <p class="card-text">
        {{ hero.description }}
      </p>
      <div class="d-flex gap-2 py-1">
        <button
          (click)="editarHero()"
          class="btn btn-primary d-inline-flex align-items-center"
          type="button"
        >
          Editar
        </button>
        <app-ngmodal (deleted)="deleted($event)"></app-ngmodal>
      </div>
    </div>
  </div>
</div>

}
